python-jose
mcp>=1.22.0
mcp[cli]>=1.22.0
mcp[inspector]>=1.22.0
fastapi>=0.121.3
uvicorn>=0.38.0
pydantic>=2.12.4
typing>=3.7.4.3
mcp_server>=0.1.4
crewai>=1.5.0
fastmcp>=2.13.1
langchain_ollama>=1.0.0
langchain>=1.2.6
langgraph>=1.0.3
langchain_mcp_adapters>=0.1.13
python-jose>=3.5.0
sentence-transformers>=5.1.2
pymupdf>=1.26.6
